#section-footer footer {
    background-color: var(--vert-agricole);
    color: var(--blanc);
    padding: 40px 5%;
    text-align: center;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
    flex-wrap: wrap; /* Permet aux liens de passer à la ligne */
}

.footer-socials a {
    background: rgba(255,255,255,0.1);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.85rem;
    min-width: 120px; /* Assure une taille de clic confortable */
}

.tricolore-bar {
    display: flex;
    height: 8px;
    width: 100%;
    position: relative;
    bottom: 0;
}
/* Les couleurs de la barre tricolore */
.bar-1 { background: #00acee; flex: 1; }
.bar-2 { background: #feca22; flex: 1; }
.bar-3 { background: #de2110; flex: 1; }
