#section-search {
    background-color: var(--blanc);
    padding: 40px 20px;
    text-align: center;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px; /* Comme sur la photo */
    font-size: 1rem;
}

.btn-search {
    background-color: var(--bouton-recherche);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
